.channels {
    padding: 10px;
    color: #8E9275;
    overflow-y: scroll;
    height: 90%;
}

.channels::-webkit-scrollbar { 
    display: none; 
}

.channels-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.channels-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-height: 40px;
    font-weight: 600;
    // justify-content: space-between;
}

.channels-arrow {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.channels-header-create-button {
    position: absolute;
    right: 0;
    width: 40px;
    text-align: center;
}

.add-channel-button {
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding-left: 7px;
    display: flex;
    position: relative;
}

.channels-header-element {
    padding-right: 10px;
    padding-left: 10px;
}

.channels-dropdown {
    display: flex;
    flex-direction: row;
}

.channel-nav-ul {
    padding-left: 20px;
}

.channel-nav-li {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}


.channel-nav-hash {
    padding-right: 10px;
}

.channels-dropdown:hover, .channels-header-create-button:hover, 
    .channel-nav-li:hover {
    color: white;
    cursor: pointer;
}

.rotated {
    transform: rotate(90deg);
    transition-duration: 0.5s;
}