.home {
    display: flex; 
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #292826;
}

.home-elements-container {
    width: 100vw;
    margin: 0px;
    display: flex;
    background-image: url("/sao.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
}

.app {
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}