.home {
    display: flex; 
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.home-elements-container {
    height: 100vh;
    width: 100vw;
    // margin: 0px;
    display: flex;
    background-image: url("/stars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 1s linear;
    // background-attachment: fixed;
}

.app {
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

input[type=submit]:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
