.join-form-container {
    // width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    
}

.join-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 5px;
}

.join-form-header {
    font-size: 20px;
    padding: 40px 30px 40px 40px;
    font-weight: 700;
    color: #3ca374;
    // padding-top: 30px;
    // padding-bottom: 20px;
}

.join-form-body {
    font-size: 18px;
    width: 80%;
    // padding-bottom: 50px;
    padding: 0px 40px 50px 40px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.join-form-instructions {
    padding-bottom: 20px;
    color: #99aab5;

}

.join-url-example {
    color: #7289da;
}

.join-form-main {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 60%;

}

.join-url-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.join-form-input {
    border-bottom: 4px solid #f6f6f7;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}

.join-form-input:hover, .join-form-input:focus {
    filter: brightness(90%);
}

.join-form-input-label {
    align-self: flex-start;
    font-size: 15px;
    color: #99aab5;

}

.join-form-footer {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 40px 20px 40px;
    background-color: #f6f6f7;
    justify-content: space-between;
    border-radius: 5px;
}

.join-server-button {
    background-color: #3ca374;
    width: 96px;
    height: 38px;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;   
    color: white;
    font-size: 18px;
}

.join-server-button:hover {
    filter: brightness(70%);
}

.join-error-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.join-form-submit-fail {
    color: red;
}

.join-form-errors {
    padding-left: 5px;
    font-size: 15px;
    color: red;
}
