.channel-message-container {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;

}   

.message-ul-container {
    height: 90%;
    width: 100%;
    overflow-y: scroll; 
    // margin-bottom: 50px;
    // padding-bottom: 50px;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #36393f; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.message-li-container {
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;   
    color: white;
    font-weight: 600; 
    position: relative;
    // background-color: green;
}

.message-right-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.message-user-icon-container {
    // margin-left: 20px;
    // margin-right: 20px;
    // height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 20px;

}

.message-user-icon {
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
}

.message-info-header {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.message-author {
    margin-right: 20px;
}

.message-body {
    display: inline-block;
    word-break: break-all;
    padding-right: 20px;
    font-size: 18px;
}

.message-form-container {
    // background: #36393f;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    // margin-left: 30px;
    // margin-right: 40px;  
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    box-sizing: border-box;
}

.message-form {
    border: 2px solid white;
    height: 60px;
    width: 90%;
    display: flex;
    // justify-content: center;
    border-radius: 8px;
    align-items: center;
    position: relative;
}

.message-form-field {
    height: 100%;
    width: 80%;
    margin-left: 20px;
    font-size: 1.25em;
}

.message-form-plus-container {
    height: 100%;
    border-right: 2px solid white;
    display: flex;
    align-items: center;
    // position: absolute;
    // left: 0;
    margin-left: 10px;
}

.message-form-plus-button {
    padding-right: 10px;

}


