.server-top-bar-container {
    // flex-grow: 100;
    min-height: 55px;
    max-height: 55px;
    // background-color: blue;
    background-color: rgba(189, 184, 184, 0.5);
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.top-bar-channel-info-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    cursor: default;
}

.top-bar-channel-icon {
    margin-right: 5px;
}