.server-nav-container {
    background-color: rgba(61, 54, 54, 0.7);
    min-width: 78px;
    // height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    // overflow: visible;
    // position: absolute;
    // margin-right: 500px;
    overflow-y: scroll;
    // overflow: auto; 
}

.server-nav-container::-webkit-scrollbar { 
    display: none; 

}

.server-nav-ul {
    padding-top: 15px;
    height: 100%;
    // width: 72px;  
    // overflow-y: scroll;
    // overflow: visible; 
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server-nav-ul::-webkit-scrollbar { 
    display: none; 
}

.server-nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    position: relative;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
}

.server-nav-button {
    background-color: rgb(36, 37, 39);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(189, 187, 187, 0.7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: #dcddde;
    // position: relative;
}

.server-nav-button:hover {
    transition: .2s;
    border-radius: 15px;
    // margin-top: 5px;
    // margin-bottom: 5px;
    // background-color: #7289da;
    filter: brightness(170%);
}

.server-nav-button-selected {
    transition: .2s;
    border-radius: 15px;
    filter: brightness(170%);
}

.home-button {
    border-radius: 0%;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}





