.server-form-container {
    // width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 28px 40px 0px 40px;
    box-sizing: border-box;
}

.server-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 5px;
}

.server-form-header {
    font-size: 20px;
    padding: 40px 30px 20px 40px;
    // padding-top: 30px;
    // padding-bottom: 20px;
    font-weight: 700;
    color: #7289da;
    
}

.server-form-body {
    font-size: 18px;
    padding: 0px 40px 50px 40px;
    color: #99aab5;
}

.server-form-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0px 40px 0px 40px;
    box-sizing: border-box;
}

.server-form-left {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.server-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 50px;
}

.server-form-label {
    text-align: left;
    font-size: 16px;
    color: #87909c;
    font-weight: 700;
    padding-bottom: 15px;
}

.server-form-input-wrapper {
    width: 100%;
}

.server-form-input {
    border-bottom: 1px solid #99aab5;
    text-align: left;
    width: 100%;
}

.server-form-input:hover {
    filter: brightness(120%);
}

.server-region-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.server-region-input-container {
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #87909c;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.server-region-input-container:hover {
    border: 2px solid #7289da;
}

.server-region-input-container:hover .server-region-button {
    border-left: 2px solid #7289da;
    background-color: #7289da;
    color: white;
}

.server-form-flag-container {
    width: 44px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.server-region-text {
    color: #87909c;
    font-weight: 700;
}

.server-region-button {
    height: 100%;
    border-left: 1px solid #87909c; 
    position: absolute;
    right: 0;   
    font-size: 16px;
    width: 80px;
    color: #7289da;
    box-sizing: border-box;
    font-weight: 600;
    background-color: #e7e7ec;
    border-radius: 5px;
}

.server-region-button:active {
    box-shadow: none;
    transform: none;
}

.server-form-right {
    box-sizing: border-box;
    // background: green;
    padding-right: 30px;
}

.server-form-circle {
    height: 140px;
    width: 140px;
    background-color: #7289da;
    border: 3px solid #e7e7ec;
    box-shadow: 1px 1px 10px;
    border-radius: 50%;
    cursor: pointer;
    color: #7289da;
    display: flex;
    align-items: center;
}

.server-form-circle:hover {
    filter: brightness(70%);
    color: white;
}

.server-form-circle:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.server-form-footer {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    background-color: #f6f6f7;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
}

.submit-server-button {
    background-color: #7289da;
    width: 96px;
    height: 38px;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;    
    color: white;
    font-size: 18px;
}

.submit-server-button:hover {
    filter: brightness(70%);
}


.back-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #99aab5;
}

.server-form-back {
    font-size: 16px;
}

.back-arrow {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 800;
}

.server-name-error-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}


.server-form-submit-fail {
    color: red;
}

.server-form-errors {
    padding-left: 5px;
    font-size: 15px;
    color: red;
    padding-bottom: 15px;

}
