.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.server-dropdown-container {
    background-color: #18191c;
    position: absolute;
    z-index: 1;
    align-self: center;
    top: 60px;
    width: 90%;
    border-radius: 5px;
    opacity:1;
}

.server-dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #b9bbbe;
    padding: 4px 8px;
    cursor: pointer;
    min-height: 32px;
    margin: 2px 4px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 2px;
}

.server-dropdown-item:hover {
    background-color: #040405;
    filter: brightness(70%);
}

