.login-signup-page {
    width: 100vw;
    height: 100vh;
    background-color: #252525;
    display: flex;
}

.login-video {
    position: fixed;
    // right: 0;
    // bottom: 0;
    // min-width: 100%; 
    // min-height: 100%;
}


.login-header-container {
    display: flex;
    width: 100%;
}

.return-to-splash {
    // align-self: flex-start;
    // position: absolute;
    padding-left: 100px;
}

.splash-link {
    font-size: 50px;
}

.login-content {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color:#36393f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    // height: 424px;
    border-radius: 10px;
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    box-shadow: 1px 1px 1px;

}

.form-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
}

.form-header-title {
    font-size: 26px;
    color: white;
}

.form-header-subtitle {
    color: #72767d;
    font-size: 18px;
}

.login-signup-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


.login-field {
    width: 380px;
    height: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-input-label {
    color: #8e9297;
    position: absolute;
    top: 0;
}

.login-input-container {
    background-color: white;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    // padding-left: 20px;
    border-radius: 5px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box
}

.login-input-container:hover {
    border: 1px solid black;
    // box-shadow: 1px 1px solid black;
}

.login-input-container:focus-within {
    border: 2px solid #7289da;
}

.login-input {
    width: 90%;
    height: 100%;
    font-size: 1em;
}


.login-button {
    display: flex;
    justify-content: center;
    background-color: #7289da;
    align-self: center;
    margin: 20px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.login-button:hover {
    filter: brightness(80%);
}


.register-box {
    display: flex;
    flex-direction: row;
}

.register-text {
    padding-right: 5px; 
    color: #8e9297;    
}


.signup-link {
    color: #7289da;
}

.signup-link:hover {
    filter: brightness(80%);
}